PORT=8012
#Server port number

HTTPS=False
#False or True

CORS=True
#True or False

ENDPOINT=http://localhost:8012
#Dev server location

DB_USER=user_login
#Database user

DB_PASSWD=user_password
#Database user password

DB_HOST=127.0.0.1
#ip or domain

DB_PORT=5432
#Database port number

DB_NAME=VersionsMonitor
#Database name