PORT=					#Dev server port number
ENDPOINT=			#Dev server location
CORS=					#True or False
DB_USER=			#Database user
DB_PASSWD=		#Database user password
DB_HOST=			#ip or domain
DB_PORT=			#Database port number
DB_NAME=			#Database name